<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div th:utext="#{thymeleaf2.title}"></div>
			<table class="table">
				<tr>
					<th>No</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th>
				</tr>
				<!--/* 데이터가 있을 때와 없을 때 처리 */-->
				<th:block th:if="${ ! #lists.isEmpty(mList) }">
					<tr th:each="memo, status : ${mList}">
						<td>[[ ${memo.no} ]] - [[ ${status.index} ]] - [[ ${status.count} ]]</td>
						<td>
							<a th:href="@{/thymeleaf3(no=${memo.no})}">[[ ${memo.title} ]]</a>
						</td>
						<td th:text="${memo.writer}"></td>
						<td> [[ ${#dates.format(memo.regDate, 'yy-MM-dd')} ]]</td>
					</tr>
				</th:block>
				<th:block th:if="${ #lists.isEmpty(mList) }">
					<tr>
						<td colspan="4">메모가 존재하지 않음</td>
					</tr>
				</th:block>
			</table>
			<a th:href="@{/thymeleaf1}">이전 보기</a>
		</div>
	</body>
</html>